# --- Backend ka kachra ---
backend/venv/
backend/downloads/
backend/__pycache__/
*.pyc

# --- Frontend ka kachra ---
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
.env

# --- System Files ---
.DS_Store
Thumbs.db

# --- Security (HACKER SE BACHAV) 🔒 ---
cookies.txt
backend/cookies.txt